flows.json
[
    {
        "id": "4d1a665338c08d29",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1732e8e5040c52c8",
        "type": "inject",
        "z": "4d1a665338c08d29",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT tempCelsius, umidade FROM dadosTU",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "ebc86bf237e18101"
            ]
        ]
    },
    {
        "id": "1a372ae2865dec29",
        "type": "function",
        "z": "4d1a665338c08d29",
        "name": "temperatura",
        "func": "//var rn = Math.floor(Math.random() * 1000);\n//msg.payload = rn.toString();\nmsg.payload = msg.payload[0].tempCelsius;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 160,
        "wires": [
            [
                "aa326a95e8a59727",
                "338e6b51bd99c9a9"
            ]
        ]
    },
    {
        "id": "ebc86bf237e18101",
        "type": "mysql",
        "z": "4d1a665338c08d29",
        "mydb": "0538d5e53ffab320",
        "name": "",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "1a372ae2865dec29",
                "270b51f555981e0d"
            ]
        ]
    },
    {
        "id": "aa326a95e8a59727",
        "type": "ui_gauge",
        "z": "4d1a665338c08d29",
        "name": "",
        "group": "f00bb0d910ec1534",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "Cº",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 160,
        "wires": []
    },
    {
        "id": "338e6b51bd99c9a9",
        "type": "ui_text",
        "z": "4d1a665338c08d29",
        "group": "f00bb0d910ec1534",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "socorro",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1220,
        "y": 100,
        "wires": []
    },
    {
        "id": "270b51f555981e0d",
        "type": "function",
        "z": "4d1a665338c08d29",
        "name": "umidade",
        "func": "//var rn = Math.floor(Math.random() * 1000);\n//msg.payload = rn.toString();\nmsg.payload = msg.payload[0].umidade;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 280,
        "wires": [
            [
                "501c1a406a59db87"
            ]
        ]
    },
    {
        "id": "501c1a406a59db87",
        "type": "ui_gauge",
        "z": "4d1a665338c08d29",
        "name": "",
        "group": "f00bb0d910ec1534",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "units",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 280,
        "wires": []
    },
    {
        "id": "0538d5e53ffab320",
        "type": "MySQLdatabase",
        "name": "",
        "host": "10.16.1.20",
        "port": "3306",
        "db": "topicos",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "f00bb0d910ec1534",
        "type": "ui_group",
        "name": "Numeros",
        "tab": "b17be6e108949c3e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b17be6e108949c3e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]