flows.json
[
    {
        "id": "d3c8aa8693638d64",
        "type": "tab",
        "label": "bd",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c6d3eba5429febf4",
        "type": "inject",
        "z": "d3c8aa8693638d64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT tempCelsius, umidade FROM dadosTU WHERE idSensor = 66 ORDER BY dataHora DESC LIMIT 1",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "dcf62bf339ddc452"
            ]
        ]
    },
    {
        "id": "fa6c634a63cd96c0",
        "type": "function",
        "z": "d3c8aa8693638d64",
        "name": "getTempCelsius",
        "func": "msg.payload = msg.payload[0].tempCelsius;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 140,
        "wires": [
            [
                "38df458782504121",
                "64e5d8a6e34fa60c"
            ]
        ]
    },
    {
        "id": "33e1b2cb72fb13ce",
        "type": "debug",
        "z": "d3c8aa8693638d64",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "dcf62bf339ddc452",
        "type": "mysql",
        "z": "d3c8aa8693638d64",
        "mydb": "cb307fb1c929b6f6",
        "name": "",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "5a0c758325b7a09f",
                "1f98e1bfb2541fe9",
                "fa6c634a63cd96c0",
                "33e1b2cb72fb13ce"
            ]
        ]
    },
    {
        "id": "38df458782504121",
        "type": "ui_gauge",
        "z": "d3c8aa8693638d64",
        "name": "",
        "group": "fe865ddb6ac2e075",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge BD",
        "label": "Celsius",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1230,
        "y": 80,
        "wires": []
    },
    {
        "id": "1f98e1bfb2541fe9",
        "type": "function",
        "z": "d3c8aa8693638d64",
        "name": "getUmidade",
        "func": "msg.payload = msg.payload[0].umidade;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 220,
        "wires": [
            [
                "17a9f67568613bd8",
                "8b3caaa21e27d7ca"
            ]
        ]
    },
    {
        "id": "64e5d8a6e34fa60c",
        "type": "ui_chart",
        "z": "d3c8aa8693638d64",
        "name": "",
        "group": "fe865ddb6ac2e075",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Chart BD",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1220,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8b3caaa21e27d7ca",
        "type": "ui_gauge",
        "z": "d3c8aa8693638d64",
        "name": "",
        "group": "e5b91d4039db2b34",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge BD",
        "label": "Umidade",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 220,
        "wires": []
    },
    {
        "id": "17a9f67568613bd8",
        "type": "ui_chart",
        "z": "d3c8aa8693638d64",
        "name": "",
        "group": "e5b91d4039db2b34",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Chart BD",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1220,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "de8b94a80f0d995b",
        "type": "debug",
        "z": "d3c8aa8693638d64",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 520,
        "wires": []
    },
    {
        "id": "e31e6279c5977a02",
        "type": "telegram sender",
        "z": "d3c8aa8693638d64",
        "name": "Telegram sender",
        "bot": "767baa2473b07e06",
        "haserroroutput": false,
        "outputs": 1,
        "x": 890,
        "y": 420,
        "wires": [
            [
                "a7803499d5bd3887"
            ]
        ]
    },
    {
        "id": "5a0c758325b7a09f",
        "type": "function",
        "z": "d3c8aa8693638d64",
        "name": "getStatus to bot",
        "func": "msg.payload={\n    content: \"Umidade: \" + msg.payload[0].umidade.toString() + \", Temperatura: \" + \n    msg.payload[0].tempCelsius.toString(),\n    type: \"message\",\n    chatId: 1682533590\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "e31e6279c5977a02"
            ]
        ]
    },
    {
        "id": "a7803499d5bd3887",
        "type": "debug",
        "z": "d3c8aa8693638d64",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 420,
        "wires": []
    },
    {
        "id": "399b2ad1bc79b074",
        "type": "telegram receiver",
        "z": "d3c8aa8693638d64",
        "name": "Telegram receiver",
        "bot": "10afc47c0f7d5782",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 870,
        "y": 540,
        "wires": [
            [
                "de8b94a80f0d995b"
            ],
            []
        ]
    },
    {
        "id": "cb307fb1c929b6f6",
        "type": "MySQLdatabase",
        "name": "Conexão com BD",
        "host": "10.16.1.20",
        "port": "3306",
        "db": "topicos",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "fe865ddb6ac2e075",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "5632eaffcf9ba65b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5b91d4039db2b34",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "5632eaffcf9ba65b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "767baa2473b07e06",
        "type": "telegram bot",
        "botname": "Pedro's Bot",
        "usernames": "HotSexyMachineBot",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "10afc47c0f7d5782",
        "type": "telegram bot",
        "botname": "Pedro's Bot",
        "usernames": "HotSexyMachineBot",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "5632eaffcf9ba65b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]