tarefa3-vf.json
[
    {
        "id": "fd113420b2d93471",
        "type": "tab",
        "label": "bd",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f827d4096d4aac0b",
        "type": "inject",
        "z": "fd113420b2d93471",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT tempCelsius, umidade FROM dadosTU WHERE idSensor = 66",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "2482493ed9042b86"
            ]
        ]
    },
    {
        "id": "eeb6f68564d4c82d",
        "type": "function",
        "z": "fd113420b2d93471",
        "name": "getTempCelsius",
        "func": "msg.payload = msg.payload[0].tempCelsius;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 140,
        "wires": [
            [
                "c34706a0b6d2f2f3",
                "396f25ca76c720b5"
            ]
        ]
    },
    {
        "id": "95f916abb71ee87f",
        "type": "debug",
        "z": "fd113420b2d93471",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "2482493ed9042b86",
        "type": "mysql",
        "z": "fd113420b2d93471",
        "mydb": "eb5aecb60a3322f8",
        "name": "",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "95f916abb71ee87f",
                "eeb6f68564d4c82d",
                "909e7d7ae1465386",
                "ad040bd8d6e73701"
            ]
        ]
    },
    {
        "id": "c34706a0b6d2f2f3",
        "type": "ui_gauge",
        "z": "fd113420b2d93471",
        "name": "",
        "group": "fe865ddb6ac2e075",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge BD",
        "label": "Celsius",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 120,
        "wires": []
    },
    {
        "id": "909e7d7ae1465386",
        "type": "function",
        "z": "fd113420b2d93471",
        "name": "getUmidade",
        "func": "msg.payload = msg.payload[0].umidade;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 220,
        "wires": [
            [
                "32ac87290ccc1310",
                "f95aa052963c949b"
            ]
        ]
    },
    {
        "id": "396f25ca76c720b5",
        "type": "ui_chart",
        "z": "fd113420b2d93471",
        "name": "",
        "group": "fe865ddb6ac2e075",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Chart BD",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "32ac87290ccc1310",
        "type": "ui_gauge",
        "z": "fd113420b2d93471",
        "name": "",
        "group": "e5b91d4039db2b34",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge BD",
        "label": "",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "f95aa052963c949b",
        "type": "ui_chart",
        "z": "fd113420b2d93471",
        "name": "",
        "group": "e5b91d4039db2b34",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Chart BD",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ad040bd8d6e73701",
        "type": "function",
        "z": "fd113420b2d93471",
        "name": "senderUmidadeAndTemp",
        "func": "msg.payload = {\n    chatId: 5508563884,\n    type: \"message\",\n    content: 'Temperatura: ' + msg.payload[0].tempCelsius.toString() + ' ºC\\n' + 'Umidade: ' + msg.payload[0].umidade.toString() + '%'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "c30484d188b69310"
            ]
        ]
    },
    {
        "id": "54c6b8e41215b329",
        "type": "telegram receiver",
        "z": "fd113420b2d93471",
        "name": "",
        "bot": "256f5ae1f5446768",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 810,
        "y": 520,
        "wires": [
            [
                "cda24c386796a602"
            ],
            []
        ]
    },
    {
        "id": "c30484d188b69310",
        "type": "telegram sender",
        "z": "fd113420b2d93471",
        "name": "",
        "bot": "256f5ae1f5446768",
        "haserroroutput": false,
        "outputs": 1,
        "x": 810,
        "y": 420,
        "wires": [
            [
                "5da6b5623767beb9"
            ]
        ]
    },
    {
        "id": "cda24c386796a602",
        "type": "debug",
        "z": "fd113420b2d93471",
        "name": "debug receiver",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 520,
        "wires": []
    },
    {
        "id": "5da6b5623767beb9",
        "type": "debug",
        "z": "fd113420b2d93471",
        "name": "debug sender",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "32fbe14cecce0b94",
        "type": "telegram command",
        "z": "fd113420b2d93471",
        "name": "",
        "command": "/dados",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "256f5ae1f5446768",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "0c6672bf049edf82"
            ],
            []
        ]
    },
    {
        "id": "0c6672bf049edf82",
        "type": "function",
        "z": "fd113420b2d93471",
        "name": "function 3",
        "func": "var opts = {\n    reply_markup: JSON.stringify({\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Temperatura\",\n                \"callback_data\": \"1\"\n            },\n            {\n                \"text\": \"Humidade\",\n                \"callback_data\": \"2\"\n            }]\n        ]\n    })\n};\n\nmsg.error = false;\n\nmsg.payload = {\n    chatId: 5508563884,\n    type: 'message',\n    content: 'Selecione uma opção:',\n    options: opts,\n\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 640,
        "wires": [
            [
                "1c13e6718f013975"
            ]
        ]
    },
    {
        "id": "1c13e6718f013975",
        "type": "telegram sender",
        "z": "fd113420b2d93471",
        "name": "",
        "bot": "256f5ae1f5446768",
        "haserroroutput": false,
        "outputs": 1,
        "x": 610,
        "y": 640,
        "wires": [
            [
                "ab6c5da0582ef856"
            ]
        ]
    },
    {
        "id": "778f57824696c1ea",
        "type": "telegram event",
        "z": "fd113420b2d93471",
        "name": "",
        "bot": "256f5ae1f5446768",
        "event": "callback_query",
        "autoanswer": false,
        "x": 180,
        "y": 780,
        "wires": [
            [
                "62c43cd0180762bb"
            ]
        ]
    },
    {
        "id": "62c43cd0180762bb",
        "type": "function",
        "z": "fd113420b2d93471",
        "name": "function 4",
        "func": "msg.callback = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 780,
        "wires": [
            [
                "2fd5bec23b6d301d"
            ]
        ]
    },
    {
        "id": "c6702c0667da7d80",
        "type": "function",
        "z": "fd113420b2d93471",
        "name": "function 5",
        "func": "if (msg.callback.content == 1) {\n    msg.payload.content = 'Temperatura: ' + msg.payload[0].tempCelsius.toString() + \" °C\";\n}\nif (msg.callback.content == 2) {\n    msg.payload.content = 'Umidade: ' + msg.payload[0].umidade.toString() + \"%\";\n}\n\nmsg.payload.type = 'message';\nmsg.payload.chatId = '5508563884';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 780,
        "wires": [
            [
                "594b620787010408"
            ]
        ]
    },
    {
        "id": "594b620787010408",
        "type": "telegram sender",
        "z": "fd113420b2d93471",
        "name": "",
        "bot": "256f5ae1f5446768",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1370,
        "y": 660,
        "wires": [
            [
                "f4f462a40702e2a8"
            ]
        ]
    },
    {
        "id": "f4f462a40702e2a8",
        "type": "debug",
        "z": "fd113420b2d93471",
        "name": "debug sender resultado chamada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 660,
        "wires": []
    },
    {
        "id": "2fd5bec23b6d301d",
        "type": "function",
        "z": "fd113420b2d93471",
        "name": "function 6",
        "func": "var select = 'SELECT tempCelsius, umidade FROM dadosTU WHERE idSensor = 66';\nmsg.topic = select;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 780,
        "wires": [
            [
                "f66ec77abdc33d65"
            ]
        ]
    },
    {
        "id": "f66ec77abdc33d65",
        "type": "mysql",
        "z": "fd113420b2d93471",
        "mydb": "eb5aecb60a3322f8",
        "name": "",
        "x": 870,
        "y": 780,
        "wires": [
            [
                "c6702c0667da7d80"
            ]
        ]
    },
    {
        "id": "ab6c5da0582ef856",
        "type": "debug",
        "z": "fd113420b2d93471",
        "name": "debug sender chamada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "eb5aecb60a3322f8",
        "type": "MySQLdatabase",
        "name": "Banco de Dados Local (testes)",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "topicos",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "fe865ddb6ac2e075",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "5632eaffcf9ba65b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5b91d4039db2b34",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "5632eaffcf9ba65b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "256f5ae1f5446768",
        "type": "telegram bot",
        "botname": "Jhon Bot",
        "usernames": "",
        "chatids": "5508563884",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "5632eaffcf9ba65b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]